@font-face {
    font-family: GameFont;
    src: url("ResourceHanRoundedCN-Normal.ttf");
}

@font-face {
    font-family: Error;
    src: url("error.ttf");
}

@font-face {
    font-family: Hiiro;
    src: url("hiiro.ttf");
}
