body {
  overflow: hidden;
  margin: 0;
  font-family: 'GAMEFONT';
}

#game {
  overflow: hidden;
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
}

#ErrorPrinter,
#modeTextBack {
  pointer-events: none;
}

#GameCanvas {
  transition: filter 0.2s;
}

img {
  -webkit-user-drag: none;
}
