body {
  overflow: hidden;
  margin: 0;
  font-family: 'GAMEFONT';
}

#ErrorPrinter,
#modeTextBack {
  pointer-events: none;
}

#GameCanvas {
  transition: filter 0.2s;
}

img {
  -webkit-user-drag: none;
}
